<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white p-8 rounded-lg shadow-lg space-y-4 text-center">
        <div>
            <a href="/admin/login" class="text-blue-500 hover:text-blue-700 font-semibold">Login as Admin</a>
        </div>
        <div>
            <a href="/login" class="text-blue-500 hover:text-blue-700 font-semibold">Login as User</a>
        </div>
    </div>

</body>
</html>
